# Dependencias
node_modules/
package-lock.json

# Variables de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log
npm-debug.log*

# Directorios de compilación
build/
dist/

# Otros
.DS_Store
.idea/
.vscode/
